.text3 {
    padding-left: 80px;
}

.img1 {
    width: 350px;
    height: 300px;
}

.text1 {
    padding-left: 70px;
}

.link1 {
    padding-left: 110px;
}

.div1 {
    position: relative;
    left: 80px;
}

.img2 {
    width: 350px;
    height: 300px;
}

.text2 {
    padding-left: 90px;
}

.link2 {
    padding-left: 115px;
}

.div2 {
    position: relative;
    left: 480px;
    top: -410px;
}

.img3 {
    width: 350px;
    height: 300px;
}

.link3 {
    padding-left: 140px;
}

.textc {
    text-align: center;
}

.div3 {
    position: relative;
    left: 870px;
    top: -790px;
}

.img4 {
    width: 350px;
    height: 300px;
}

.text4 {
    padding-left: 80px;
}

.link4 {
    padding-left: 120px;
}

.div4 {
    position: relative;
    left: 80px;
    top: -800px;
}

.img5 {
    width: 350px;
    height: 300px;
}

.text5 {
    padding-left: 80px;
}

.link5 {
    padding-left: 120px;
}

.div5 {
    position: relative;
    left: 460px;
    top: -1230px;
}

.img6 {
    width: 350px;
    height: 300px;
}

.text6 {
    padding-left: 80px;
}

.link6 {
    padding-left: 120px;
}

.div6 {
    position: relative;
    left: 900px;
    top: -1645px;
}